body {

    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;

}


h1 {

    text-align: center;
    font-size: 32px;
    color: black;

}


h2 {

    text-align: center;
    color: black;

}



header {

    text-align: center;
    margin-bottom: 20px;

}



.botao-voltar {

    padding: 8px 15px;
    cursor: pointer;

}



.cadastro {

    width: 600px;
    margin: auto;
    background-color: #ffe58a;
    padding: 25px;

}



.linha-inputs {

    display: block;

}



.grupo-input {

    width: 100%;

}



label {

    display: block;
    margin-top: 10px;
    margin-bottom: 3px;

}



input,
textarea {

    width: 95%;
    padding: 7px;

}



textarea {

    height: 80px;

}



.botoes {

    margin-top: 20px;
    text-align: center;

}



button {

    padding: 8px 15px;
    cursor: pointer;

}



#btn-cancelar {

    margin-left: 10px;

}



.estoque {

    width: 90%;
    margin: 30px auto;

}



.filtros {

    margin-bottom: 15px;

}



.filtros input {

    width: 250px;
    padding: 7px;

}



table {

    width: 100%;
    border-collapse: collapse;

}



th {

    background-color: #ffe58a;
    padding: 8px;

}



td {

    border: 1px solid black;
    padding: 8px;
    text-align: center;

}